/* css styles */
.image-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 1rem; */
}



.image-row img {
  width: 300px;
  height: auto;
}

/* Sur écran moyen, forcer la colonne */
@media (max-width: 1024px) {
    .image-row img {
  width: 250px;
  height: auto;
}
}

/* Sur petit écran, forcer la colonne */
@media (max-width: 768px) {
  .image-row {
    justify-content: center;
  }
  .image-row img {
  width: auto;
  height: auto;
}
  
  .image-row p {
    flex: 1 1 100%;
    text-align: center;
  }
}